<%= form_with model: @record, url: records_path, class: 'form' do |f| %>
  <%= f.label :日付を選択, class: 'label' %>
  <%= f.date_field :date, class: 'date-select' %>

  <%= f.label :就寝時間を入力, class: 'label' %>
  <%= f.time_field :bedtime, class: 'text-input' %>

  <%= f.label :起床時間を入力, class: 'label' %>
  <%= f.time_field :wake_up_time, class: 'text-input' %>

  <%= f.submit '保存' %>
<% end %>

<%# 睡眠時間を計算し、カレンダーに表示 %>

<div class='calendar'>
  <%#  日付表示%>
  <%  @records.each do |record| %>
    <div class= 'item'>
      <div class='date'>
        <%= record.date%>
      </div>
      <ul class='content'>
        <li><strong>就寝時間：</strong> <%= record.bedtime.strftime("%H:%M") %></li>
        <li><strong>起床時間：</strong> <%= record.wake_up_time.strftime("%H:%M") %></li>
        <%# 計算式記入後修正 %>
        <li><strong>睡眠時間：</strong> <%= record.instance_variable_get(:@time_of_sleeping) %> 分</li>
    </div>
  <% end %>
</div>